In [ ]:
# 1 ans
class Person:
    def __init__(self,name,age):
        self.name=name
        self.age=age

    def introduce(self):
        print(f"Name is : {self.name}, and age is : {self.age}")

In [ ]:
person1=Person("nitin","16")
person1.introduce()

Name is : nitin, and age is : 16

In [ ]:
# 2 ans
class Car:
  def __init__(self,brand,model):
      self.brand=brand
      self.model=model

  def display_info(self):
      print(f"Brand is : {self.brand} , And Model is : {self.model}")

In [ ]:
car1=Car("Thar","mahindra")
car1.display_info()

Brand is : Thar , And Model is : mahindra

In [ ]:
 # 3 ans
class bankaccount:
    def __init__(self,account_number,balance):
        self.account_number=account_number
        self.balance=balance

    def display_balance(self):
        print(f"account number is : {self.account_number} , And balance is : {self.balance}")

In [ ]:
bankaccount1=bankaccount("161620","2000000 lakh")
bankaccount1.display_balance()

account number is : 161620 , And balance is : 2000000 lakh

In [ ]:
 # 4 ans
class mobilephone:
    def __init__(self,brand,model):
        self.brand=brand
        self.model=model

    def make_call(self):
        print(f"brand is : {self.brand} , and model is : {self.model}")

In [ ]:
mobilephone1=mobilephone("samsung","S25")
mobilephone1.make_call()

brand is : samsung , and model is : S25

In [ ]:
 # 5 ans
class book:
     def __init__(self,title,author):
         self.title=title
         self.author=author
     def display_info(self):
         print(f"title is : {self.title} , and author is : {self.author}")

In [ ]:
book1=book("The Cricket on the Hearth","Charles Dickens")
book1.display_info()

title is : The Cricket on the Hearth , and author is : Charles Dickens

In [ ]:
 #  6 ans
class vechicles:
   def __init__(self,name,model,year):
       self.name=name
       self.model=model
       self.year=year

In [ ]:
class car(vechicles):
      def __init__(self,name,model,year):
         self.name=name
         self.model=model
         self.year=year
      def stop_engine(self):
          print(f"name is : {self.name} , model is : {self.model} , and year is : {self.year}")

      def start_engine(self):
          print(f"name is : {self.name} , model is : {self.model} , and year is : {self.year}")

In [ ]:
class motercycle(vechicles):

      def __init__(self,name,model,year):
         self.name=name
         self.model=model
         self.year=year
      def stop_engine(self):
          print(f"name is : {self.name} , model is : {self.model} , and year is : {self.year}")

      def start_engine(self):
          print(f"name is : {self.name} , model is : {self.model} , and year is : {self.year}")

In [ ]:
car1=car("baleno" , "delta" , "2024")
car1.stop_engine()
car1.start_engine()

name is : baleno , model is : delta , and year is : 2024
name is : baleno , model is : delta , and year is : 2024

In [ ]:
motercycle1=motercycle("hero" , "hf deluxe" , "2024")
motercycle1.stop_engine()
motercycle1.start_engine()

name is : hero , model is : hf deluxe , and year is : 2024
name is : hero , model is : hf deluxe , and year is : 2024

In [ ]:
 # 7 ans
class animals:
    def __init__(self,eat,sleep):
      self.eat=eat
      self.sleep=sleep
    def sound(self):
        pass

In [ ]:
class dog(animals):
  def __init__(self,eat,sleep):
      self.eat=eat
      self.sleep=sleep
  def brak(self):
    print(f" eat is : {self.eat}, and sleep is :  {self.sleep}")

In [ ]:
class cat(animals):
  def __init__(self,eat,sleep):
    self.eat=eat
    self.sleep=sleep
  def meow(self):
      print(f" eat is : {self.eat}, and sleep is :{self.sleep}")

In [ ]:
dog1=dog("biscuit" , "at 12 am to 3 pm")
dog1.brak()

 eat is : biscuit, and sleep is :  at 12 am to 3 pm

In [ ]:
cat1=cat("rat" , "4 hours")
cat1.meow()

 eat is : rat, and sleep is :4 hours

In [ ]:
 # 8 ans
class libraryitem:
      def __init__(self,title,author, publication_year):
          self.title=title
          self.author=author
          self.publication_year=publication_year

In [ ]:
class book:
     def __init__(self,title,author, publication_year):
          self.title=title
          self.author=author
          self.publication_year=publication_year
     def checout(self):
         print(f"title is : {self.title}, author is : {self.author}, and publication_year : {self.publication_year} ")

In [ ]:
class magazine:
     def __init__(self,title,author, publication_year):
          self.title=title
          self.author=author
          self.publication_year=publication_year
     def return_item(self):
         print(f"title is : {self.title}, author is : {self.author}, and publication_year : {self.publication_year} ")

In [ ]:
book1=book("dance" , "Haruki Murakami" , "1994")
book1.checout()

title is : dance, author is : Haruki Murakami, and publication_year : 1994

In [ ]:
magazine1=magazine("The Daffodil Sky" , "H. E. Bates" , "1990")
magazine1.return_item()

title is : The Daffodil Sky, author is : H. E. Bates, and publication_year : 1990

In [ ]:
 # 9 ans
class employee:
    def __init__(self,name,salary,department):
        self.name=name
        self.salary=salary
        self.department=department

In [ ]:
class manager:
     def __init__(self,name,salary,department):
         self.name=name
         self.salary=salary
         self.department=department
     def checkout(self):
         print(f"name is : {self.name} salary is : {self.salary} and department is : {self.department}")

In [ ]:
class Staff:
     def __init__(self,name,salary,department):
         self.name=name
         self.salary=salary
         self.department=department
     def return_item(self):
         print(f"name is : {self.name} salary is : {self.salary} and department is : {self.department}")

In [ ]:
manager1=manager("nitin","100000","electricity")
manager1.checkout()

name is : nitin salary is : 100000 and department is : electricity

In [ ]:
staff1=Staff("vipul","50000","fineance")
staff1.return_item()

name is : vipul salary is : 50000 and department is : fineance

In [ ]:
 # 10 ans
class bankaccount:
     def __init__(self,account_number,balance):
         self.account_number=account_number
         self.balance=balance

In [ ]:
class  CheckingAccount:
      def __init__(self,account_number,balance):
          self.account_number=account_number
          self.balance=balance
      def withdraw(self):
          print(f"account_number is : {self.account_number} , and balance is : {self.balance}")

In [ ]:
class  SavingsAccount:
      def __init__(self,account_number,balance):
          self.account_number=account_number
          self.balance=balance
      def deposit(self):
          print(f"account_number is : {self.account_number} , and balance is : {self.balance}")

In [ ]:
checkingAccount=CheckingAccount("1234567" , "10000")
checkingAccount.withdraw()

account_number is : 1234567 , and balance is : 10000

In [ ]:
SavingsAccount1=SavingsAccount("7742424" , "2000")
SavingsAccount1.deposit()

account_number is : 7742424 , and balance is : 2000

In [ ]:
 # 11 ans
class person:
     def __init__(self,name,age,address):
         self.name=name
         self.age=age
         self.address=address

In [ ]:
class Student:
     def __init__(self,name,age,address):
         self.name=name
         self.age=age
         self.address=address
     def take_exam(self):
         print(f"name is : {self.name} , age is : {self.age} , and address is : {self.address}")

In [ ]:
class Teacher:
     def __init__(self,name,age,address):
         self.name=name
         self.age=age
         self.address=address
     def teach_subject(self):
         print(f"name is : {self.name} , age is : {self.age} , and address is : {self.address}")

In [ ]:
student1=Student("nitin","17","sihali")
student1.take_exam()

name is : nitin , age is : 17 , and address is : sihali

In [ ]:
teacher1=Teacher("nitin","17","sihali")
teacher1.teach_subject()

name is : nitin , age is : 17 , and address is : sihali